.head{
	text-align:center;
	background-color:#003344;
	color:white;
	font-weight:bold;
	font-size:30px;
}
.content{
	width:400px;
	height:300px;
	margin:auto;
	background-color:#FFD382;
	padding:5px;
	overflow:scroll;
	word-wrap:break-word; 
}
.bot{
	width:400px;
	height:30px;
	background-color:#FCD3F2;
	margin:auto;
	padding:5px;
}
.block{
	width:300px;
	height:115px;
	background-color:#FCD3F2;
	margin:auto;
	padding:5px;
}